# flask
# langchain_community
# langchain
# faiss-cpu
# sentence-transformers
# langchain-huggingface
# langchain_core
# pandas

# For Demo Purposes 
flask 
langchain 
groq 
transformers 
faiss-cpu
langchain-community
langchain-huggingface
IPython
bs4
authlib